.login-body{
    height: 100vh;
    margin: 0;
    background-color: var(--color1);
}
.svg{
    height: 100%vh;
    width: 80%;
    color: var(--color2);
}
:root {
    --color1: #021024;
    --color2: #052659;
    --color3: #E89C31;
    --color4: #E5E5E5;
    --color5: #FFFFFF;
  }  
.main{
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.loginA{
    background-color: #021024;
    display: inline-block;
    height: 100vh;
    width: 60%;
}
.loginB{
    display: inline-block;
    height: 100vh;
    width: 40%;
    background-color: var(--color5);
    color:  var(--color3);
    padding: 20px;
    position: relative;
}
.loginB2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #021024;
}
/*Styling the border bottom effect*/
.input{
    border: none;
    color: var(--color3);
    border-radius: 0;
    border-bottom: 1px solid var(--color1);
    background-color: transparent;
    padding: 5px;
    width: 200px;
}
.lower{
    padding-top: 10px;
    color: var(--color5);
}
.paragraph1{
    font-size: 26px;
    color: var(--color3);
}
.margin{
    padding-left: 50px;
}
button{
    padding: 10px;
    width: 230px;
    border-radius: 10px;
    background-color: var(--color3);
    border-style: none;
}
button:hover{
    background-color: var(--color1);
    color: var(--color5);
    cursor: pointer;
}
.media{
    display: flex;
    justify-content: space-between;
}
.border{
    padding: 13px;
    border-style: solid;
    border-radius: 100px;
}
.border:hover{
    border-color: var(--color3);
    cursor: pointer;
}


/*media queries for responsiveness  */
/* Media query for smaller screens */
@media (max-width: 600px) {

    .loginA{
        display: none;
    }
    .loginB{
        height: 100vh;
        width: 100%;
    }
  }
  
  /* Media query for medium-sized screens */
  @media (min-width: 601px) and (max-width: 1024px) {

    .loginB2{
        height: 100vh;
        width: 100%;
    }
  }