:root {
  --color1: #021024;
  --color2: #052659;
  --color3: #E89C31;
  --color4: #E5E5E5;
  --color5: #FFFFFF;
  --color6: red;
  --color7: #1B2223;
  --color8: #0EF6CC;
} 
body{
  background-color: var(--color1);
  color: var(--color4);
}
nav ul li {
  display: inline-block;
  justify-content: space-between;
  padding: 20px;
  font-size: 23px;
  margin-right: 50px;
}
.naviation{
  height: 100vh;
  width: 100%;
}
.paragraph1{
  color: var(--color3);
  font-size: 35px;
}
.paragraph2{
  color: var(--color5);
  font-size: 20px;
}
.logo{
  width: 120px;
  height: 120px;
}
ul{
  display: flex;
  justify-content: space-between;
}
input{
  background-color: var(--color3);
  padding: 10px;
  border-style: none;
  border-radius: 10px;
  width: 100px;
}
.blob {
  width: 500px;
  height: 500px;
  background-color:var(--color3);
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.main{
  padding-top: 50px;
}
.main1{
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
}