:root {
  --color1: #021024;
  --color2: #052659;
  --color3: #E89C31;
  --color4: #E5E5E5;
  --color5: #FFFFFF;
  --color6: red;
  --color7: #1B2223;
  --color8: #0EF6CC;
} 
body{
  background-color: var(--color1);
  color: var(--color4);
}
nav ul li {
  display: inline-block;
  justify-content: space-between;
  padding: 20px;
  font-size: 23px;
  margin-right: 30px;
}
.paragraph1{
  color: var(--color3);
  font-size: 35px;
}
.paragraph2{
  color: var(--color5);
  font-size: 20px;
}
.logo{
  width: 120px;
  height: 120px;
}
ul{
  display: flex;
  justify-content: space-between;
}
input{
  background-color: var(--color3);
  padding: 10px;
  border-style: none;
  border-radius: 10px;
  width: 100px;
}
.blob {
  width: 500px;
  height: 500px;
  background-color:var(--color3);
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.main1{
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
}
.section2{
  background-color: var(--color2);
}
.section3{
  background-color: var(--color1);
}
.section4{
  background-color: var(--color2);
}
.container{
  margin-top: -140px;
}
span{
  color: var(--color3);
}


@media (max-width: 600px){
  ul{
    display:flex;
  }
  nav ul  li {
    display: none;
  }
  .icon{
    display: none;
  }
  .main1{
    display: block;
    justify-content: space-between;
  }
  .blob{
    width: 300px;
    height: 300px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
  }
  .landing{
    width: 300px;
    height: 300px;
  }
  .container{
    margin-top: 30px;
  }
  input{
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
  }
  .logo{
    width: 100px;
    height: 100px;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  nav ul li{
    font-size: 17px;
  }
  .main1{
    display: block;
    justify-content: space-between;
  }
  .blob{
    width: 300px;
    height: 300px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
  }
  .landing{
    width: 300px;
    height: 300px;
  }
  .container{
    margin-top: 30px;
  }
  input{
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
  }
}